@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        margin: 0.5rem 0;
    }

    .icon-btn {
        margin-left: 0.75rem;
    }
    .sidebar-hidden {
        transform: translateX(-100%);
    }

    .sidebar {
        width: 150px;
        padding-top: 60px;
    }

    .sidebar a {
        padding: 10px 15px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    #sidebarToggle{
        display: block;
    }
    .products_container{
        margin: 0 25px;
        padding-top: 50px;  
    }
}